//14-11-2023
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar-container{
    background: #9F8FFF;
    height: 80px;
    width: 100%;
}

.lyncImg{
    width: 60px;
    margin: 8px 20px;
}

.nav-bar{
    float: right;
    margin-right: 20px;
}

.link-bar{
    display: inline-block;
    // line-height: 80px;
    margin: 10px 25px;
    text-align: center;
}

.react-icons-navbar{
    color: white;
}

.react-icons-navbar:hover,.nav-link-name:hover{
    color: #FFBD59;
    text-decoration: none;
}

.nav-link-name{
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
}



// // Navbar designing @Ayush
// .navbar-container{
//     display:flex;
//     flex-direction: column;
//     align-items: left;
//     background-color:white;
//     justify-content: center;
//     position: relative;
//     top:0px;
//     width:100%;
//     height:70px
// }
// *{
//     width:100%
// }
// img{
//     width:80px;
//     margin: 20px 30px;
// }
// .react-icons{
//     margin-top: 18px;
//     color:rgba(128,128,128,0.9);
    
    
// }
// .react-icons:hover{
//     color:black;
// }
// .nav-bar{
//     display: flex;
    
// }
// .link-bar{
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
// }
// span{
//     padding:auto;
//     position: relative;
//     bottom:10px;
//     text-align: center;
//     color: black;
// }
// .link-bar2{
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
// }
// a{
//     color:black;
// }


//harsh css
/* 
// Navbar designing
// .navbar-container{
//     display:flex;
//     flex-direction: column;
//     align-items: left;
//     background-color:white;
//     justify-content: center;
//     position: absolute;
//     top:0px;
//     width:100%;
//     height:70px
// }
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.nav-bar img{
    width:50px;
    margin: 15px 30px;
    float: left;
    line-height: 80px;
}

.nav-bar{
    background-color: #9F8FFF;
    height: 80px;
    width: 100%;
}

.nav-bar ul{
    float: right;
    margin-right: 30px;
}

.nav-bar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-bar ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.link-bar{
    
}

// .react-icons{
//     margin-top: 18px;
//     color:rgba(128,128,128,0.9);
    
    
// }
// .react-icons:hover{
//     color:black;
// }
// .nav-bar{
//     display: flex;
    
// }
// .link-bar{
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
// }
// span{
//     padding:auto;
//     position: relative;
//     bottom:10px;
//     text-align: center;
//     color: black;
// }
// .link-bar2{
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
// }
// a{
//     color:black;
// }

*/