.post-container {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:30%;
    
    
    
  }
  
   
  .post-header {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .name {
    font-weight: bold;
    font-size: 18px;
  }
  
  .post-content {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .post-image {
    margin-top: 10px;
    max-width: 100%;
  }
  
  .post-video {
    margin-top: 10px;
   
    
  }
  
  .like-comment {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .like-button {
    background-color: #4285f4;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .like-button.liked {
    background-color: #f44336;
  }
  
  .comment-button {
    background-color: #e0e0e0;
    color: #000;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-date {
    margin-top: 10px;
    color: #999;
    font-size: 12px;
  }
  

  .complete_post{
   display: flex;
    width:100%;
   
   justify-content: center;
  }

  .fake{
    
    width:25%;
    height:30rem;
  }

  