.post-header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.2s;
  text-decoration: none; /* Remove underlines from links */
  color: #333; /* Set text color */
  width: 100%;
}
.post-header-container:hover {
  background-color: rgba(196, 195, 195, 0.703);
}
.right {
  flex: 3;
  text-align: left;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.default-profile-image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc; /* Grey color for the default profile image */
}
.name{
  font-weight: bold;
  font-size: 18px; /* Increased font size for the name */
  margin-bottom: 5px; /* Added margin-bottom for spacing */
}
.industry {
  font-size: 14px;
}


  