// Navbar designing
.navbar-container{
    display:flex;
    flex-direction: column;
    background-color:#9F8FFF;
    width:100%;
    height:70px
}

img{
    width:60px;
    height: 60px;
    margin-right:auto;
    margin: 5px 10px;
}
.react-icons{
    margin-top: 8px;
    color: #FFBD59;
}

.react-icons:hover{
    color:white;
}

.nav-bar{
    display: flex;
}

.link-bar{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
}
span{
    padding:auto;
    display: flex;
    justify-content: center;
    color: #FFBD59;
}
.link-bar2{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
a{
    color: #FFBD59
}
a:hover{
    color: white;
    text-decoration: none;
}